<div class="left-sidebar-container">
  <div class="inner-left-sidebar">
    <img class="logo" src="https://icon2.cleanpng.com/20180716/pfv/53aa375be227a914aeea92bb754f8ef3.webp" alt="logo"/>
    <div class="main-element-container">
      <div class="element-container">
        <img src="/images/message.png" alt="message" />
        <small>chat</small>
      </div>
      <div class="element-container">
        <img src="/images/videocamera.png" alt="videocamera" />
        <small>meet</small>
      </div>
      <div class="element-container">
        <img src="/images/calendar.png" alt="calendar" />
        <small>calendar</small>
      </div>
      <div class="element-container">
        <img src="/images/bell.png" alt="bell" />
        <small>Activity</small>
      </div>
    </div>
  </div>
</div>
