.left-sidebar-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.inner-left-sidebar {
  display: flex;
  flex-direction: column;
  height: 55%;
  justify-content: space-between;
  padding: 20px 0px;
}

.main-element-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.element-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
  cursor: pointer;
}

img {
  width: 20px;
  height: 20px;
}

small {
  color: black;
}


.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}