<div class="left-sidebar-container">
  <div class="inner-left-sidebar">
    <img class="logo" src="https://icon2.cleanpng.com/20180716/pfv/53aa375be227a914aeea92bb754f8ef3.webp" alt="logo"/>
    <div class="main-element-container">
      <div class="element-container">
        <!-- <img src="/images/message.png" alt="message" /> -->
         <i class="fa-regular fa-comment"></i>
        <small>chat</small>
      </div>
      <div class="element-container">
        <!-- <img src="/images/videocamera.png" alt="videocamera" /> -->
         <i class="fa-solid fa-video"></i>
        <small>meet</small>
      </div>
      <div class="element-container">
        <!-- <img src="/images/calendar.png" alt="calendar" /> -->
         <i class="fa-solid fa-calendar-days"></i>
        <small>calendar</small>
      </div>
      <div class="element-container">
        <!-- <img src="/images/bell.png" alt="bell" /> -->
         <i class="fa-regular fa-bell"></i>
        <small>Activity</small>
      </div>
    </div>
  </div>
</div>
