<div class="message-input-main">
  <div class="message-input-area">
    <input name="" id="" placeholder="Enter your message..."/>
    <div class="input-field-elements">
      <!-- <img src="/images/smiley.png" alt="" />
      <img src="/images/attach.png" alt="" />
      <img src="/images/plus.png" alt="" /> -->
      <i class="fa-regular fa-face-smile"></i>
      <i class="fa-solid fa-paperclip"></i>
      <i class="fa-solid fa-plus"></i>
      <!-- <img class="send-image" src="/images/send.png" alt="" /> -->
       <i class="fa-regular fa-paper-plane send-image"></i>
    </div>
  </div>
</div>
