.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: orange;
}

.general-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.search-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img{
    width: 20px;
    height: 20px;
}