<div class="nav-container">
    <div class="search-options">
        <div>
            <img src="/images/lessthannew.png" alt="">
            <img src="/images/morethannew.png" alt="">
        </div>
        <div>
            <div>
                <div></div>
                <input type="text" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="general-options">
        <img src="/images/minimizewindownew.png" alt="">
        <img src="/images/maximizewindow.png" alt="">
        <img src="/images/closenew.png" alt="">
    </div>
</div>