<div class="nav-container">
  <div class="inner-nav-container">
    <div class="search-options">
      <!-- <img src="/images/lessthannew.png" alt="lessthannew" /> -->
      <!-- <img src="/images/morethannew.png" alt="morethannew" /> -->
       <i class="fa-solid fa-arrow-left"></i>
       <i class="fa-solid fa-arrow-right"></i>
      <div>
        <div class="search-bar-elements">
          <img src="/images/searchicon.png" alt="search" />
          <input type="text" placeholder="Search" />
        </div>
      </div>
    </div>
    <div class="general-options">
      <!-- <img src="/images/3dots.png" alt="3dots" /> -->
      <!-- <img src="/images/profile.png" alt="profile"> -->
      <!-- <img src="/images/minimizewindownew.png" alt="minimizewindownew" /> -->
      <!-- <img src="/images/maximizewindow.png" alt="maximizewindow" /> -->
      <!-- <img src="/images/closenew.png" alt="closenew" /> -->
       <i class="fa-solid fa-ellipsis"></i>
       <!-- <i class="fa-regular fa-user"></i> -->
       <span style="color: black; cursor: pointer;" (click)="navigateToUserProfile()">{{ username }}</span>
       <i class="fa-solid fa-minus"></i>
       <i class="fa-regular fa-window-maximize"></i>
       <i class="fa-solid fa-xmark" (click)="onLogout()" ></i>
    </div>
  </div>
</div>
