<div class="Background">
  <div class="login-container">
    <h2>Login</h2>
    <form action="">
      <div class="form-elements">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div class="form-elements">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div class="form-elements-button">
        <button type="submit">Login</button>
      </div>
    </form>
    <div>
        <p class="login-footer">
            Don't have an account ? <a routerLink="signUp">Register</a>
        </p>
    </div>
  </div>
</div>
