<div class="Background">
  <div class="login-container">
    <h2>Forgot Password ?</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onFormSubmit()">
      <div class="form-elements">
        <div class="form-elements">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" formControlName="email"/>
          <small
            *ngIf="
              forgotPasswordForm.get('email')?.invalid &&
              forgotPasswordForm.get('email')?.touched
            "
            >*Email is required.</small
          >
        </div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" formControlName="username" />
        <small
          *ngIf="
            forgotPasswordForm.get('username')?.invalid &&
            forgotPasswordForm.get('username')?.touched
          "
        >
          *Username is required.
        </small>
      </div>
      <div class="form-elements-button">
        <button type="submit" [disabled]="forgotPasswordForm.invalid"
          [class]="forgotPasswordForm.valid ? 'activeButton' : 'inactiveButton'">Send OTP</button>
      </div>
    </form>
    <div>
      <p class="login-footer">
        Already have an account ? <a routerLink="/">Login</a>
      </p>
    </div>
  </div>
</div>
