<div class="chat-window">
  <div class="chat-messages" #chatMessages>
    <div *ngFor="let msg of messages" class="message-row"
      [ngClass]="msg.senderId === loginUserId ? 'loginUser' : 'Chatter'">
      <img class="avatar" [src]="ProfileImageURl" alt="{{ msg.sender }} avatar" />
      <div class="message" [ngClass]="msg.senderId === loginUserId ? 'user-message' : 'bot-message'">
        {{ msg.messageText }}
        <br>
        <small class="time">{{ msg.sentAt | date:'shortTime' }}</small>
      </div>
    </div>

    <div class="message-row bot" *ngIf="isTyping">
      <img class="avatar" [src]="ProfileImageURl" alt="bot avatar" />
      <div class="message bot-message typing-indicator">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>