.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(11, 1fr); 
    grid-template-rows: 1fr 11fr;
    grid-template-areas:
    "lsb nb nb nb nb nb nb nb nb nb nb"
    "lsb user user user chat chat chat chat chat chat chat";
}

.box1{
  background-color: var(--primary-soft);
  grid-area: lsb;
  border-right: 2px solid rgba(15, 52, 96, 0.5);

}

.box2{
  grid-area: nb;
}

.box3{
  grid-area: user;
  background-color: green;
  overflow: auto;
}

.box4{
  grid-area: chat;
  background-color: yellow;
  overflow: auto;
}
