p{
    color: red;
}
.main-container{
display: flex;
flex-direction: column;
}
.top-components{
    background-color: aqua;
    height: 50px;
}
.lower-components{
    display: flex;
    height: 92%;
    flex-direction: row;
}
app-left-sidebar{
    background-color: aquamarine;
    width: 7%;
    height: 100vh;
}
app-users-list-side-bar{
    background-color: rgb(178, 178, 150);
    width: 27%;
}
app-chat-area{
    background-color: antiquewhite;
    width: 66%;
}