p{
    color: black;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}
.left-sub-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.right-sub-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.call-options{
     display: flex;
    flex-direction: row;
    gap: 10px;
}
.right-option{
      display: flex;
    flex-direction: row;
    gap: 10px;
}
i{
    color: var(--accent-text-color);
}
img{
    height: 50px;
    border-radius: 50%;
}
.user-name,.chats,.shared-media{
    color: var( --primary-text-color);
}