<div class="Background">
  <div class="login-container">
    <h2>Sign Up</h2>
    <form action="">
      <div class="form-elements">
        <div class="form-elements">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div class="form-elements">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div class="form-elements">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="confirm-password" id="confirm-password" />
      </div>
      <div class="form-elements-button">
        <button type="submit">Register</button>
      </div>
    </form>
    <div>
        <p class="login-footer">
            Already have an account ? <a routerLink="/">Login</a>
        </p>
    </div>
  </div>
</div>
