.container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 10fr 2fr;
  grid-template-areas: 
  "chatheader chatheader chatheader chatheader chatheader"
  "previouschat previouschat previouschat previouschat previouschat"
  "messageinput messageinput messageinput messageinput messageinput";
}

.chat-header {
  grid-area: chatheader;
  background-color: lightblue;
}

.previous-chat {
  grid-area: previouschat;
  background-color: lightgreen;
  overflow-y: auto;
}

.message-input {
  grid-area: messageinput;
  background-color: lightcoral;
  overflow-y: auto;
}